@{
    ViewData["Title"] = "Movie";
}

@model MovieMVC.Models.Movie

<div class="card mb-3">
    <div class="row">
        <div class="col-md-2">
            <img src="files/cover/@Model.Cover" class="img-fluid rounded-start" asp-append-version="true"/>
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text"><small class="text-muted">@Model.Year</small></p>
                <p class="card-text">@Model.Description</p>
                <span class="badge rounded-pill bg-secondary py-2">
                    @foreach (var item in Model.Genres)
                    {
                        @String.Concat(@item.GenreName, ", ")
                    }
                </span>
            </div>
        </div>
    </div>
</div>